img{
    height: 200px;
    width:  250px;
}




p{
    color: rgb(0, 0, 0);
    font-size: 20px;
}


label{
    font-size: 20px;
    color: black;   
}

td{
    font-size: 20px;
    font-weight: bold;
    color: black;
}


th{
    color: #00bfff;

}


body{
    text-align: center;
}

.education-qualification-table {
  width: 100%;

  margin-top: 20px;
}

.education-qualification-table th,
.education-qualification-table td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: left;
}

.education-qualification-table th {
  background-color: #000000;
}

.education-qualification-table {
  margin-right: 8px;
}
